.error {
  width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error__container {
  text-align: center;
  max-width: 600px;
}

.error__code {
  font-size: 120px;
  line-height: 140px;
  font-family: "SfProDisplay", sans-serif;
  font-weight: bold;
  color: #4295E4;
  margin-bottom: 16px;
}

.error__title {
  font-size: 44px;
  line-height: 62px;
  font-family: "SfProText", sans-serif;
  font-weight: 600;
  color: #161C24;
  margin-bottom: 16px;
}

.error__text {
  font-size: 16px;
  line-height: 26px;
  font-family: "SfProText", sans-serif;
  color: #454F5B;
  margin-bottom: 32px;
}

.error__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 50px;
  background-color: #4295E4;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-family: "SfProDisplay", sans-serif;
  font-weight: 500;
  line-height: 26px;
  border: none;
}
