.badge {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.badge-group {
    position: absolute;
    display: flex;
    align-items: center;

    &--available {
        top: 12px;
        left: 12px;
    }

    &--not-available {
        top: 12px;
        left: 12px;
    }
}

.badge-box {
    &--first {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-white;
        height: 20px;
        width: 20px;
        margin-right: 8px;
    }

    &--gift {
        display: flex;
        align-items: center;
        gap: 8px;
        background-color: $color-white;
        padding: 6px 8px 6px 8px;
        position: absolute;
        top: 42px;
        left: 12px;

        .badge-icon {
            width: 13px;
            height: 13px;
        }

        .badge-text {
            font-size: 12px;
            line-height: auto;
            font-family: $font-text;
            color: $color-text-dark;
        }
    }

    &--sale {
        position: absolute;
        top: 12px;
        right: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-white;
        padding: 8px 10px;

        .badge-text {
            font-size: 12px;
            font-weight: 500;
            line-height: auto;
            font-family: $font-text;
            color: $color-text-dark;
        }
    }

    img {
        display: block;
    }
}

.badge-label {
    font-size: 14px;
    line-height: 24px;
    font-family: $font-text;
    font-weight: normal;
}

.badge-icon {
    width: 13px;
    height: 13px;
}

