.benefits {
  width: 100%;
  padding-bottom: 100px;
  margin: 0 auto;
}
.benefits__title {
  text-align: center;
  margin-bottom: 56px;
  font-size: 44px;
  line-height: 62px;
  font-family: "SfProText", sans-serif;
}
.benefits__list {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}
.benefits__item {
  width: 393px;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 32px;
  border-right: 1px solid black;
  border-left: 1px solid black;
}
.benefits__card--inner {
  width: 345px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 32px;
}
.benefits__icon {
  width: 84px;
  height: 84px;
}
.benefits__text {
  font-family: "SfProText", sans-serif;
  font-size: 20px;
  line-height: 32px;
}

@media screen and (max-width: 1240px) {
  .benefits__list {
    justify-content: center;
  }
}