.callback .container {
  padding-top: 61px;
  padding-bottom: 57px;
  background-color: #F2F8FF;
}
.callback__block {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.callback__text {
  width: 518px;
  font-family: "SfProText", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #454F5B;
}
.callback__title {
  font-size: 44px;
  line-height: 62px;
  font-weight: 600;
  color: #161C24;
  font-family: "SfProText", sans-serif;
}
.callback__input {
  padding: 12px 147px 12px 12px;
  border: none;
  max-width: 240px;
  font-family: "SfProText", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  background-color: rgba(22, 28, 36, 0.04);
}
.callback__form {
  display: flex;
  gap: 24px;
}
.callback__btn {
  padding: 12px 70px;
  border: none;
  background-color: #4295E4;
  color: #ffffff;
  font-family: "SfProText", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .callback__form {
    flex-direction: column;
  }
}