@import '_variables';

.callback {
    .container {
        padding-top: 61px;
        padding-bottom: 57px;
        background-color: $color-bg-light;
    }

    &__block {
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 24px;
    }

    &__text {
        width: 518px;
        font-family: $font-text;
        font-size: 16px;
        line-height: 26px;
        color: $color-text-gray;
    }

    &__title {
        font-size: 44px;
        line-height: 62px;
        font-weight: 600;
        color: $color-text-dark;
        font-family: $font-text;
    }

    &__input {
        padding: 12px 147px 12px 12px;
        border: none;
        max-width: 240px;
        font-family: $font-text;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        background-color: rgba(22, 28, 36, 0.04);
    }

    &__form {
        display: flex;
        gap: 24px;
    }

    &__btn {
        padding: 12px 70px;
        border: none;
        background-color: $color-blue;
        color: $color-white;
        font-family: $font-text;
        font-weight: 500;
        font-size: 16px;
    }
}

@media screen and (max-width:768px) {
    .callback__form {
       flex-direction: column;
    }
}