.categories__title {
  text-align: center;
  font-size: 44px;
  line-height: 62px;
  padding-bottom: 63px;
  font-family: "SfProText", sans-serif;
}
.categories .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categories__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
  justify-content: center;
  margin-bottom: 50px;
}
.categories__item {
  display: flex;
  flex-direction: row;
  max-width: 600px;
  margin-bottom: -102px;
}
.categories__item--inner {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.categories__name {
  margin-bottom: 16px;
  font-size: 22px;
  line-height: 34px;
  font-family: "SfProText", sans-serif;
  font-weight: 500;
}
.categories__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 12px 78px;
  line-height: 26px;
  border-radius: 2px;
  border: grey 1px solid;
  background-color: #ffffff;
  font-family: "SfProDisplay", sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}
.categories__btn:hover {
  background-color: #f2f2f2;
  border-color: #161C24;
}
.categories__btn:active {
  transform: scale(0.98);
  background-color: #e6e6e6;
}
.categories__all {
  width: 220px;
  height: 50px;
  background-color: #4295E4;
  color: #ffffff;
  font-size: 16px;
  border: none;
  margin: 0 auto;
  display: block;
  font-family: "SfProDisplay", sans-serif;
  font-weight: 500;
  line-height: 26px;
}

.info {
  position: relative;
  left: 41px;
  top: -144px;
}

@media screen and (max-width: 768px) {
  .categories__grid {
    margin: 2%;
  }

  .info {
    max-width: 200px;
  }
}
@media screen and (max-width: 1440px) {
  .categories__grid {
    grid-template-columns: 1fr;
  }

  .categories__item--inner img {
    width: 90%;
    align-self: center;
  }
}