@import '_variables';

.categories {
    &__title {
        text-align: center;
        font-size: 44px;
        line-height: 62px;
        padding-bottom: 63px;
        font-family: $font-text;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 40px;
        justify-content: center;
        margin-bottom: 50px;
    }

    &__item {
        display: flex;
        flex-direction: row;
        max-width: 600px;
        margin-bottom: -102px;

        &--inner {
            display: flex;
            flex-direction: column;
            justify-content: end;
        }

    }

    &__name {
        margin-bottom: 16px;
        font-size: 22px;
        line-height: 34px;
        font-family: $font-text;
        font-weight: 500;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        padding: 12px 78px;
        line-height: 26px;
        border-radius: 2px;
        border: grey 1px solid;
        background-color: $color-white;
        font-family: $font-display;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
            background-color: #f2f2f2;
            border-color: $color-text-dark;
        }

        &:active {
            transform: scale(0.98);
            background-color: #e6e6e6;
        }
    }

    &__all {
        width: 220px;
        height: 50px;
        background-color: $color-blue;
        color: $color-white;
        font-size: 16px;
        border: none;
        margin: 0 auto;
        display: block;
        font-family: $font-display;
        font-weight: 500;
        line-height: 26px;
    }
}

.info {
    position: relative;
    left: 41px;
    top: -144px;
}

@media screen and (max-width: 768px) {
    .categories__grid {
        margin: 2%;
    }

    .info {
        max-width: 200px;
    }
}

@media screen and (max-width: 1440px) {
    .categories__grid {
        grid-template-columns: 1fr;
    }

    .categories__item--inner img {
        width: 90%;
        align-self: center;
    }
}