@font-face {
    font-family: "SfProText";
    src: url(../fonts/sfprotext/SFProText-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "SfProText";
    src: url(../fonts/sfprotext/SFProText-Bold.ttf);
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "SfProText";
    src: url(../fonts/sfprotext/SFProText-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "SfProText";
    src: url(../fonts/sfprotext/SFProText-Light.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "SfProText";
    src: url(../fonts/sfprotext/SFProText-Semibold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "SfProDisplay";
    src: url(../fonts/sfprodisplay/SF-Pro-Display-Bold.otf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "SfProDisplay";
    src: url(../fonts/sfprodisplay/SF-Pro-Display-Regular.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "SfProDisplay";
    src: url(../fonts/sfprodisplay/SF-Pro-Display-Medium.otf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "SfProDisplay";
    src: url(../fonts/sfprodisplay/SF-Pro-Display-Light.otf);
    font-weight: 300;
    font-style: normal;
}

