@import '_variables';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    max-width: $width-container;
    margin: 0 auto;
}

@media screen and (max-width:1240px) {
    .container {
        max-width: 1240px;
        margin: 0 auto;
    }
}


