@import 'variables';

.header {
    &__top {
        max-width: $width-container;
        margin: 0 auto;
    }

    .container {
        background-color: grey;
    }

    &__promo {
        padding-top: 8px;
        padding-bottom: 8px;
        display: inline-block;
        margin-left: 452px;
        letter-spacing: 12%;
        line-height: 26px;
        font-size: 16px;
        color: $color-white;
        font-family: $font-display;
        font-weight: 500;
    }

    &__link {
        padding-top: 8px;
        padding-bottom: 8px;
        margin-left: 293px;
        font-size: 16px;
        letter-spacing: 12%;
        line-height: 26px;
        color: $color-white;
        font-family: $font-display;
        font-weight: 500;
        text-decoration: none;
    }

    &__main {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-left: 100px;
        margin-right: 101.5px;
        margin-top: 22px
    }

    &__contacts {
        display: flex;
        align-items: center;
        margin-top: 19px;
        
        img {
            margin-right: 8px;
        }
    }

    &__cart {
        margin-left: 30px;
        
        img {
            margin-right: 24px;
        }
    }

    &__phone {
        font-size: 18px;
        font-family: $font-display;
        font-weight: normal;
        text-decoration: none;
        font-style: normal;
        color: $color-text-gray;
    }
}

.nav {
    margin-top: 19px;
    &__list {
        margin-right: 260px;

        li {
            display: inline-block;
            font-size: 20px;
            line-height: auto;
            letter-spacing: 0%;
        }
    }

    &__link {
        margin-right: 32px;
        color: black;
        text-decoration: none;
    }

    &__item {
        font-family: $font-text;
        font-weight: 300;
        line-height: auto;
        font-size: 20px;
        color: $color-text-dark;
    }
}

.burger {
    display: none;
    cursor: pointer;
  }
  
  @media (max-width: 992px) {
    .nav {
      display: none;
    }
  
    .nav.menu--active {
      margin: 0;
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      width: 300px;
      height: 100vh;
      background: #fff;
      padding: 20px;
      z-index: 1000;
      transition: right 8.3s ease;
    }
  
    .burger {
      display: block;
    }
  
    .nav__list {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }
  

@media screen and (max-width:1240px) {
    .header__promo {
        margin-left: 15%;
    }

    .header__link {
        margin-left: 10%;
    }
}


@media screen and (max-width:768px) {
    .hero img {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:576px) {
    .header__main {
        margin-bottom: 20px;
    }
}