@import '_variables';

.hero {
    img {
        width: 558px;
        padding-top: 42px;
        margin-left: -60px;
        height: 677px;
    }

    .container {
        background-color: #FAFAFA;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    &__content {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-top: 83px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 99px;
        padding-left: 26px;
    }

    &__title {
        font-size: 44px;
        line-height: 62px;
        margin-bottom: 20px;
        font-family: $font-text;
        font-weight: 600;
    }

    &__desc {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 16px;
        color: $color-text-gray;
        font-family: $font-text;
        font-weight: normal;
        font-style: normal;
    }

    &_desc-second {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 32px;
        font-family: $font-text;
        font-weight: normal;
        font-style: normal;
        color: $color-text-gray;
    }

    &__price {
        display: inline-block;
        margin-bottom: 16px;

        p {
            margin-bottom: 4px;
            color: gray;
            font-size: 12px;
            letter-spacing: 0%;
            line-height: 22px;
            font-family: $font-text;
            font-weight: normal;
        }

        &-current {
            margin-right: 12px;
            font-size: 24px;
            line-height: auto;
            letter-spacing: 0%;
            font-family: $font-text;
            font-weight: 600;
            color: $color-text-dark;
        }

        &-old {
            font-size: 22px;
            line-height: auto;
            letter-spacing: 0%;
            color: #A4A4A4;
            text-decoration: line-through;
            font-family: $font-text;
            font-weight: 300;
            text-shadow: 0px 4px 4px #00000025;
        }
    }

    &__btn {
        width: 220px;
        height: 50px;
        line-height: 26px;
        background-color: $color-blue;
        color: $color-white;
        font-size: 16px;
        font-family: $font-display;
        font-weight: 500;
        border: none;
        box-shadow: 0px 4px 4px #00000025;
    }
}

