.products {
  margin: 100px 0;
}
.products__title {
  margin-top: -3px;
  margin-left: 99px;
  margin-bottom: 64px;
  font-size: 44px;
  line-height: 62px;
  font-family: "SfProText", sans-serif;
}
.products__list {
  display: flex;
  gap: 30px;
}

.product-card {
  border: 1px solid #EAEAEA;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product-card__name {
  margin: 10px 12px;
  font-family: "SfProText", sans-serif;
}
.product-card__price {
  margin-left: 12px;
  margin-bottom: 10px;
  font-size: 20px;
  color: #161C24;
  font-family: "SfProText", sans-serif;
  font-weight: 600;
}
.product-card__old {
  margin-left: 12px;
  text-decoration: line-through;
  font-size: 18px;
  font-weight: 300;
  color: #454F5B;
}
.product-card__img-container {
  position: relative;
}

@media screen and (max-width: 1300px) {
  .products__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
}