@import '_variables';

.products {
    
    margin: 100px 0;

    &__title {
        margin-top: -3px;
        margin-left: 99px;
        margin-bottom: 64px;
        font-size: 44px;
        line-height: 62px;
        font-family: $font-text;
    }

    &__list {
        display: flex;
        gap: 30px;
    }
}

.product-card {
    border: 1px solid $color-border;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__name {
        margin: 10px 12px;
        font-family: $font-text;
    }

    &__price {
        margin-left: 12px;
        margin-bottom: 10px;
        font-size: 20px;
        color: $color-text-dark;
        font-family: $font-text;
        font-weight: 600;
    }

    &__old {
        margin-left: 12px;
        text-decoration: line-through;
        font-size: 18px;
        font-weight: 300;
        color: $color-text-gray;
    }

    &__img-container {
        position: relative;
    }
}

@media screen and (max-width:1300px){
    .products__list {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }
}