.stats {
  opacity: 100%;
}
.stats .container {
  background-color: #F2F8FF;
  margin: 95px auto;
  padding: 40px 0;
}
.stats__wrap {
  margin: 0 auto;
  display: flex;
  gap: 82px;
  align-items: center;
  justify-content: center;
}
.stats__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 0;
  align-items: center;
}
.stats__number {
  margin: 0;
  font-weight: 700;
  line-height: 38px;
  font-size: 32px;
  font-family: "SfProDisplay", sans-serif;
  font-weight: 600;
}
.stats__text {
  margin: 0;
  color: #666;
  font-weight: 400;
  line-height: 26px;
  font-size: 16px;
  font-weight: 600;
  font-family: "SfProText", sans-serif;
}

@media screen and (max-width: 992px) {
  .stats__wrap {
    gap: 5%;
  }
}
@media screen and (max-width: 768px) {
  .stats__wrap {
    gap: 31px;
    flex-wrap: wrap;
  }
}