$color-white: #ffffff;
$color-blue: #4295E4;
$color-blue-hover: #56A9F8;
$color-blue-active: #2E81D0;
$color-text-dark: #161C24;
$color-text-gray: #454F5B;
$color-text-light-gray: #C4CDD5;
$color-bg-light: #F2F8FF;
$color-footer-bg: #0D2436;
$color-border: #EAEAEA;

$font-text: "SfProText", sans-serif;
$font-display: "SfProDisplay", sans-serif;

$width-container: 1440px;
