@font-face {
  font-family: "SfProText";
  src: url(../fonts/sfprotext/SFProText-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "SfProText";
  src: url(../fonts/sfprotext/SFProText-Bold.ttf);
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "SfProText";
  src: url(../fonts/sfprotext/SFProText-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SfProText";
  src: url(../fonts/sfprotext/SFProText-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SfProText";
  src: url(../fonts/sfprotext/SFProText-Semibold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SfProDisplay";
  src: url(../fonts/sfprodisplay/SF-Pro-Display-Bold.otf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SfProDisplay";
  src: url(../fonts/sfprodisplay/SF-Pro-Display-Regular.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SfProDisplay";
  src: url(../fonts/sfprodisplay/SF-Pro-Display-Medium.otf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SfProDisplay";
  src: url(../fonts/sfprodisplay/SF-Pro-Display-Light.otf);
  font-weight: 300;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 1240px) {
  .container {
    max-width: 1240px;
    margin: 0 auto;
  }
}
.blue-button:hover {
  background-color: #56A9F8;
  cursor: pointer;
}
.blue-button:active {
  background-color: #2E81D0;
  cursor: pointer;
}

.badge {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge-group {
  position: absolute;
  display: flex;
  align-items: center;
}
.badge-group--available {
  top: 12px;
  left: 12px;
}
.badge-group--not-available {
  top: 12px;
  left: 12px;
}

.badge-box--first {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 20px;
  width: 20px;
  margin-right: 8px;
}
.badge-box--gift {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #ffffff;
  padding: 6px 8px 6px 8px;
  position: absolute;
  top: 42px;
  left: 12px;
}
.badge-box--gift .badge-icon {
  width: 13px;
  height: 13px;
}
.badge-box--gift .badge-text {
  font-size: 12px;
  line-height: auto;
  font-family: "SfProText", sans-serif;
  color: #161C24;
}
.badge-box--sale {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 8px 10px;
}
.badge-box--sale .badge-text {
  font-size: 12px;
  font-weight: 500;
  line-height: auto;
  font-family: "SfProText", sans-serif;
  color: #161C24;
}
.badge-box img {
  display: block;
}

.badge-label {
  font-size: 14px;
  line-height: 24px;
  font-family: "SfProText", sans-serif;
  font-weight: normal;
}

.badge-icon {
  width: 13px;
  height: 13px;
}

.header__top {
  max-width: 1440px;
  margin: 0 auto;
}
.header .container {
  background-color: grey;
}
.header__promo {
  padding-top: 8px;
  padding-bottom: 8px;
  display: inline-block;
  margin-left: 452px;
  letter-spacing: 12%;
  line-height: 26px;
  font-size: 16px;
  color: #ffffff;
  font-family: "SfProDisplay", sans-serif;
  font-weight: 500;
}
.header__link {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 253px;
  font-size: 16px;
  letter-spacing: 12%;
  line-height: 26px;
  color: #ffffff;
  font-family: "SfProDisplay", sans-serif;
  font-weight: 500;
  text-decoration: none;
}
.header__link:hover {
  text-decoration: underline;
}
.header__link:active {
  text-decoration: underline;
}
.header__main {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-left: 100px;
  margin-right: 101.5px;
  margin-top: 22px;
}
.header__contacts {
  display: flex;
  align-items: center;
  margin-top: 19px;
}
.header__contacts img {
  margin-right: 8px;
}
.header__cart {
  margin-left: 30px;
}
.header__cart img {
  margin-right: 24px;
}
.header__phone {
  font-size: 18px;
  font-family: "SfProDisplay", sans-serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  color: #454F5B;
}
.header__phone:hover {
  text-decoration: underline;
}
.header__phone:active {
  text-decoration: underline;
}

.nav {
  margin-top: 19px;
}
.nav__list {
  margin-right: 260px;
}
.nav__list li {
  display: inline-block;
  font-size: 20px;
  line-height: auto;
  letter-spacing: 0%;
}
.nav__link {
  margin-right: 32px;
  color: black;
  text-decoration: none;
}
.nav__item {
  font-family: "SfProText", sans-serif;
  font-weight: 300;
  line-height: auto;
  font-size: 20px;
  color: #161C24;
}
.nav__item:hover {
  text-decoration: underline;
}
.nav__item:active {
  text-decoration: underline;
}

.burger {
  display: none;
  cursor: pointer;
}

@media (max-width: 992px) {
  .nav {
    display: none;
  }

  .nav.menu--active {
    margin: 0;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background: #fff;
    padding: 20px;
    z-index: 1000;
    transition: right 8.3s ease;
  }

  .burger {
    display: block;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
@media screen and (max-width: 1240px) {
  .header__promo {
    margin-left: 15%;
  }

  .header__link {
    margin-left: 10%;
  }
}
@media screen and (max-width: 768px) {
  .hero img {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .header__main {
    margin-bottom: 20px;
  }
}
.hero img {
  width: 558px;
  padding-top: 42px;
  margin-left: -60px;
  height: 677px;
}
.hero .container {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 170px;
}
.hero__content {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 83px;
}
.hero__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 99px;
  padding-left: 26px;
}
.hero__title {
  font-size: 44px;
  line-height: 62px;
  margin-bottom: 20px;
  font-family: "SfProText", sans-serif;
  font-weight: 600;
}
.hero__desc {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 16px;
  color: #454F5B;
  font-family: "SfProText", sans-serif;
  font-weight: normal;
  font-style: normal;
}
.hero_desc-second {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 32px;
  font-family: "SfProText", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #454F5B;
}
.hero__price {
  display: inline-block;
  margin-bottom: 16px;
}
.hero__price p {
  margin-bottom: 4px;
  color: gray;
  font-size: 12px;
  letter-spacing: 0%;
  line-height: 22px;
  font-family: "SfProText", sans-serif;
  font-weight: normal;
}
.hero__price-current {
  margin-right: 12px;
  font-size: 24px;
  line-height: auto;
  letter-spacing: 0%;
  font-family: "SfProText", sans-serif;
  font-weight: 600;
  color: #161C24;
}
.hero__price-old {
  font-size: 22px;
  line-height: auto;
  letter-spacing: 0%;
  color: #A4A4A4;
  text-decoration: line-through;
  font-family: "SfProText", sans-serif;
  font-weight: 300;
  text-shadow: 0px 4px 4px #00000025;
}
.hero__btn {
  width: 220px;
  height: 50px;
  line-height: 26px;
  background-color: #4295E4;
  color: #ffffff;
  font-size: 16px;
  font-family: "SfProDisplay", sans-serif;
  font-weight: 500;
  border: none;
  box-shadow: 0px 4px 4px #00000025;
}

.stats {
  opacity: 100%;
}
.stats .container {
  background-color: #F2F8FF;
  margin: 0px auto 95px auto;
  padding: 40px 0;
}
.stats__wrap {
  margin: 0 auto;
  display: flex;
  gap: 82px;
  align-items: center;
  justify-content: center;
}
.stats__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 0;
  align-items: center;
}
.stats__number {
  margin: 0;
  font-weight: 700;
  line-height: 38px;
  font-size: 32px;
  font-family: "SfProDisplay", sans-serif;
  font-weight: 600;
}
.stats__text {
  margin: 0;
  color: #666;
  font-weight: 400;
  line-height: 26px;
  font-size: 16px;
  font-weight: 600;
  font-family: "SfProText", sans-serif;
}

@media screen and (max-width: 992px) {
  .stats__wrap {
    gap: 5%;
  }
}
@media screen and (max-width: 768px) {
  .stats__wrap {
    gap: 31px;
    flex-wrap: wrap;
  }
}
.benefits {
  width: 100%;
  padding-bottom: 100px;
  margin: 0 auto;
}
.benefits__title {
  text-align: center;
  margin-bottom: 56px;
  font-size: 44px;
  line-height: 62px;
  font-family: "SfProText", sans-serif;
}
.benefits__list {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}
.benefits__item {
  width: 393px;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 32px;
  border-right: 1px solid black;
  border-left: 1px solid black;
}
.benefits__card--inner {
  width: 345px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 32px;
}
.benefits__icon {
  width: 84px;
  height: 84px;
}
.benefits__text {
  font-family: "SfProText", sans-serif;
  font-size: 20px;
  line-height: 32px;
}

@media screen and (max-width: 1240px) {
  .benefits__list {
    justify-content: center;
  }
}
.categories__title {
  text-align: center;
  font-size: 44px;
  line-height: 62px;
  padding-bottom: 63px;
  font-family: "SfProText", sans-serif;
}
.categories .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categories__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
  justify-content: center;
  margin-bottom: 50px;
}
.categories__item {
  display: flex;
  flex-direction: row;
  max-width: 600px;
  margin-bottom: -102px;
}
.categories__item--inner {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.categories__name {
  margin-bottom: 16px;
  font-size: 22px;
  line-height: 34px;
  font-family: "SfProText", sans-serif;
  font-weight: 500;
}
.categories__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 12px 78px;
  line-height: 26px;
  border-radius: 2px;
  border: grey 1px solid;
  background-color: #ffffff;
  font-family: "SfProDisplay", sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}
.categories__btn:hover {
  background-color: #f2f2f2;
  border-color: #161C24;
}
.categories__btn:active {
  transform: scale(0.98);
  background-color: #e6e6e6;
}
.categories__all {
  width: 220px;
  height: 50px;
  background-color: #4295E4;
  color: #ffffff;
  font-size: 16px;
  border: none;
  margin: 0 auto;
  display: block;
  font-family: "SfProDisplay", sans-serif;
  font-weight: 500;
  line-height: 26px;
}

.info {
  position: relative;
  left: 41px;
  top: -144px;
}

@media screen and (max-width: 768px) {
  .categories__grid {
    margin: 2%;
  }

  .info {
    max-width: 200px;
  }
}
@media screen and (max-width: 1440px) {
  .categories__grid {
    grid-template-columns: 1fr;
  }

  .categories__item--inner img {
    width: 90%;
    align-self: center;
  }
}
.products {
  margin: 100px 0;
}
.products__title {
  margin-top: -3px;
  margin-left: 99px;
  margin-bottom: 64px;
  font-size: 44px;
  line-height: 62px;
  font-family: "SfProText", sans-serif;
}
.products__list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.product-card {
  border: 1px solid #EAEAEA;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product-card__name {
  margin: 10px 12px;
  font-family: "SfProText", sans-serif;
}
.product-card__price {
  margin-left: 12px;
  margin-bottom: 10px;
  font-size: 20px;
  color: #161C24;
  font-family: "SfProText", sans-serif;
  font-weight: 600;
}
.product-card__old {
  margin-left: 12px;
  text-decoration: line-through;
  font-size: 18px;
  font-weight: 300;
  color: #454F5B;
}
.product-card__img-container {
  position: relative;
  max-width: 288px;


}
.product-card__img{
  max-width: 288px;
  min-height: 320px;
}

@media screen and (max-width: 1300px) {
  .products__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.callback .container {
  padding-top: 61px;
  padding-bottom: 57px;
  background-color: #F2F8FF;
}
.callback__block {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.callback__text {
  width: 518px;
  font-family: "SfProText", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #454F5B;
}
.callback__title {
  font-size: 44px;
  line-height: 62px;
  font-weight: 600;
  color: #161C24;
  font-family: "SfProText", sans-serif;
}
.callback__input {
  padding: 12px 147px 12px 12px;
  border: none;
  max-width: 240px;
  font-family: "SfProText", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  background-color: rgba(22, 28, 36, 0.04);
}
.callback__form {
  display: flex;
  gap: 24px;
}
.callback__btn {
  padding: 12px 70px;
  border: none;
  background-color: #4295E4;
  color: #ffffff;
  font-family: "SfProText", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .callback__form {
    flex-direction: column;
  }
}
.footer .container {
  background-color: #0D2436;
  padding-top: 55px;
  padding-bottom: 25px;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  gap: 196px;
}
.footer__top {
  display: flex;
  flex-direction: column;
  gap: 140px;
}
.footer__brand {
  margin-top: 9px;
  margin-left: 100px;
}
.footer__socials {
  display: flex;
  gap: 24px;
  margin-left: 100px;
}
.footer__col {
  display: grid;
  grid-template-columns: 236px 275px 280px 226px;
}
.footer__title {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: #ffffff;
  font-family: "SfProText", sans-serif;
  margin-bottom: 24px;
}
.footer__item {
  margin-bottom: 16px;
  text-decoration: none;
  font-family: "SfProText", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  list-style-type: none;
  color: #ffffff;
}
.footer__link {
  text-decoration: none;
  color: #ffffff;
}
.footer__list {
  list-style-type: none;
}
.footer__emails, .footer__phones {
  font-family: "SfProText", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #C4CDD5;
  margin-bottom: 16px;
}
.footer__phones_list-item, .footer__emails_list-item {
  margin-bottom: 12px;
}
.footer__phones_list {
  margin-bottom: 24px;
}
.footer__emails_list-item:nth-of-type(2) {
  margin-bottom: 0px;
}
.footer__bottom {
  display: flex;
  flex-direction: column;
  padding-top: 43px;
  width: 100%;
}
.footer__address {
  color: #ffffff;
  font-family: "SfProText", sans-serif;
}
.footer__line {
  height: 1px;
  margin-bottom: 24px;
  background-color: #D9D9D9;
}
.footer__copy {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  font-family: "SfProDisplay", sans-serif;
  line-height: auto;
  color: #C4CDD5;
}

@media screen and (max-width: 1440px) {
  .footer__col {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 992px) {
  .footer__inner {
    gap: 5%;
  }
}
@media screen and (max-width: 768px) {
  .footer__col {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 290px 158px;
    gap: 35px;
  }
}
@media screen and (max-width: 576px) {
  .footer__col {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 290px 158px;
    gap: 0px;
  }
}
@media screen and (max-width: 520px) {
  .footer__col {
    grid-template-columns: 1fr;
    grid-template-rows: 210px 295px 119px 172px;
    gap: 10px;
  }
}